.singleVariableRect{
    fill:white;
    stroke: black;
    stroke-width: 1px;
}

.singleVariableRect_clicked{
    stroke: orange;
}


.singleVariableText{
    fill: black;
    font-size: 12;
}
.axis--x text{
    font-size: 8;
}