.Timer_trigger{
    fill-opacity: 0.4;
    fill:gray;
}


.Timer_trigger:active{
    stroke:orange;
    stroke-width: 3px;
}


.timer_trigger_text{
    font-size: 12;
    pointer-events: none;
}


.timer_error_linechart_line{
    stroke:steelblue;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1.5;
}