.Bit_outcome_heatmap_background_rect{
	fill:white;
	stroke:gray;
	stroke-width:1px;
	stroke-opacity: 0.5;
}

.Bit_outcome_heatmap_rect{
	stroke:gray;
	stroke-width:1px;
	stroke-opacity: 0.1;
}

.Bit_outcome_heatmap_rect:hover{
	stroke:steelblue;
	stroke-width:2px;
	stroke-opacity: 0.5;
}