.sourceCode_highlight{
    background-color: orange;
}

.sourceCode_odd_line{
    background-color:#eee
}

#sourceCode{
    overflow: auto;
}

/*
#sourceCode_vis{
    width: 20%;
    float: left;
}

#sourceCode_menu{
   height:10%;
}*/

#sourceCode_display{
    width: 100%;
    float: left;
}
.sourceCode_even_line{
    background-color:white;
}


.sourceCode_execution:before{
    position: absolute;
    left: -1em;
    content: "+";
}
