.sourceCode_highlight{
    background-color: orange;
}

.sourceCode_odd_line{
    background-color:#eee
}

.sourceCode_even_line{
    background-color:white;
}


.sourceCode_execution:before{
    position: absolute;
    left: -1em;
    content: "+";
}
