#file_selector{
    border: 1px solid #f0f0f0;
}

#ProgramTreeViewMenu{
    border: 1px solid #f0f0f0;
    margin: 5px;
}

#ProgramTreeViewCanvas{
    /*border: 1px solid gray;*/
    margin: 5px;
}

.program_TreeView_menu_label{
    display: inline-block;
}

#ProgramTreeView div{
    margin: 5px;
}

#ProgramTreeView label{
    user-select: none;
}


#ProgramTreeViewMenu label{
    font-weight:bold
}

.ProgramTreeViewMenu_div{
    margin:3px;
}

.tree_node{
    fill:white;
    stroke: gray;
    stroke-width: 1px;
}

.programTreeView_text{
    font-size:14;
    user-select: none;
}

#ProgramTree_impact_chart_menu{
    display:none;
    border: 1px solid #f0f0f0;
    
}

#ProgramTree_Tree_Menu{
    display: none;
    border: 1px solid #f0f0f0;
}
#ProgramTree_ratio_chart_menu{
    display:none;
    border: 1px solid #f0f0f0;
}