#ProgramTreeViewMenu{
    border: 1px solid gray;
    margin: 5px;
}

.program_TreeView_menu_label{
    width: 20%;
    display: inline-block;
}
.program_TreeView_menu_select{
    width: 100px;
}

.program_TreeView_filter_div{
    display: none;
    margin-left: 21%;
}

label{
    user-select: none;
}

text{
    user-select: none;
}

input{
    margin: 5px;
}


#ProgramTreeViewMenu label{
    font-weight:bold
}

.ProgramTreeViewMenu_div{
    margin:3px;
}

.tree_node{
    fill:white;
    stroke: gray;
    stroke-width: 1px;
}

.tree_node_highlight{
    fill:orange;
    stroke-width: 1px;
}

.programTreeView_text{
    font-size:14;
    user-select: none;
}

#ProgramTree_impact_chart_menu{
    display:none; 
}

#ProgramTree_Tree_Menu{
    display: none;
}
#ProgramTree_ratio_chart_menu{
    display:none;
}