
<!-- golden layout-->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="//golden-layout.com/assets/js/goldenlayout.min.js"></script>
<link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-base.css" />
<link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-light-theme.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- customize modification -->
<link type="text/css" rel="stylesheet" href="../static/src/index/index.css"/>

<!-- D3 library-->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<!-- prettify -->
<script type="text/javascript" src="../static/src/library/prettify.js"></script>
<link rel="stylesheet" type="text/css" href="../static/src/library/prettify.css">

<!-- library -->
<!--script src="http://wzrd.in/standalone/uuid%2Fv4@latest"></script-->
<script type="text/javascript" src="../static/src/util/pubsubscribe.js"></script>
<script type="text/javascript" src="../static/src/util/BasicView.js"></script>
<script type="text/javascript" src="../static/src/util/IEEE_745.js"></script>
<script type="text/javascript" src="../static/src/util/browserToServer.js"></script>

<!-- ErrorPropagation View --> 
<link type="text/css" rel="stylesheet" href="../static/src/ErrorPropagationView/BasicElement/SingleVariableView.css" />
<link type="text/css" rel="stylesheet" href="../static/src/ErrorPropagationView/ErrorPropagationView.css" />
<link type="text/css" rel="stylesheet" href="../static/src/ErrorPropagationView/BasicElement/Timer.css" />

<script type="text/javascript" src="../static/src/ErrorPropagationView/BasicElement/Timer.js"></script>
<script type="text/javascript" src="../static/src/ErrorPropagationView/BasicElement/SingleVariableView.js"></script>
<script type="text/javascript" src="../static/src/ErrorPropagationView/ErrorPropagationController.js"></script>
<script type="text/javascript" src="../static/src/ErrorPropagationView/ErrorPropagationData.js"></script>
<script type="text/javascript" src="../static/src/ErrorPropagationView/ErrorPropagationView.js"></script>

<!-- Table View --> 
<link type="text/css" rel="stylesheet" href="../static/src/TableView/TableView.css" />
<script type="text/javascript" src="../static/src/TableView/TableView.js"></script>

<!-- Source Code View --> 
<link type="text/css" rel="stylesheet" href="../static/src/SourceCodeView/SourceCodeView.css"/>
<script type="text/javascript" src="../static/src/SourceCodeView/childView/HeatMap1D.js"></script>
<script type="text/javascript" src="../static/src/SourceCodeView/SourceCodeView.js"></script>


<!-- Grand View-->

<link type="text/css" rel="stylesheet" href="../static/src/GrandView/GrandView.css" />
<script type="text/javascript" src="../static/src/GrandView/GrandView.js"></script>

<!-- ProgramTreeView --> 
<link type="text/css" rel="stylesheet" href="../static/src/ProgramTreeView/childView/stackBarChart.css" />
<link type="text/css" rel="stylesheet" href="../static/src/ProgramTreeView/childView/valueHeatMap.css" />
<link type="text/css" rel="stylesheet" href="../static/src/ProgramTreeView/childView/BitHeatMap.css" />
<script type="text/javascript" src="../static/src/ProgramTreeView/childView/BitStackChart.css"></script>
<link type="text/css" rel="stylesheet" href="../static/src/ProgramTreeView/childView/SmartBitHeatMap.css" />
<link type="text/css" rel="stylesheet" href="../static/src/ProgramTreeView/childView/ImpactHeatmap.css" />

<script type="text/javascript" src="../static/src/ProgramTreeView/childView/standardChildView.js"></script>
<script type="text/javascript" src="../static/src/ProgramTreeView/childView/valueHeatMap.js"></script>
<script type="text/javascript" src="../static/src/ProgramTreeView/childView/BitHeatMap.js"></script>
<script type="text/javascript" src="../static/src/ProgramTreeView/childView/BitStackChart.js"></script>
<script type="text/javascript" src="../static/src/ProgramTreeView/childView/SmartBitHeatMap.js"></script>
<script type="text/javascript" src="../static/src/ProgramTreeView/childView/stackBarChart.js"></script>
<script type="text/javascript" src="../static/src/ProgramTreeView/childView/ImpactHeatmap.js"></script>

<link type="text/css" rel="stylesheet" href="../static/src/ProgramTreeView/ProgramTreeView.css" />
<script type="text/javascript" src="../static/src/ProgramTreeView/ProgramTreeData.js"></script>
<script type="text/javascript" src="../static/src/ProgramTreeView/PropramTreeViewController.js"></script>
<script type="text/javascript" src="../static/src/ProgramTreeView/ProgramTreeView.js"></script>

<!-- init golden layout-->
<script type="text/javascript" src="../static/src/index/layout-config.js"></script>
<script type="text/javascript" src="../static/src/index/index.js"></script>